body{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li{
    color: blue;
    text-decoration: none;


}

